@import "tailwindcss";

/* @theme {
    --font-display: var(--font-helvetica-now-display);
    --font-text: var(--font-helvetica-now-text);
    --font-var: var(--font-helvetica-now-var);
  } */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: white;
    font-family: var(--font-helvetica-now-text);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-smooth: always;
    font-feature-settings:
        "kern" 1,
        "liga" 1,
        "dlig" 1;
    font-variant-ligatures: common-ligatures discretionary-ligatures;
    letter-spacing: -0.4px;
    line-height: 110%;
}

p {
    line-height: 110%;
}

input:focus,
input:focus-visible {
    outline: none;
    box-shadow: none;
    /* optional */
    border-color: inherit;
    /* optional */
}

@keyframes breathe {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.animate-breathe {
    animation-name: breathe;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.cursor-next {
    cursor: url("/icons/next@1x.png") 16 16, pointer;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .cursor-next {
        cursor: url("/icons/next@2x.png") 16 16, pointer;
    }
}