@import "tailwindcss";


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: white;
}

p {
    line-height: 110%;
}

input:focus,
input:focus-visible {
    outline: none;
    box-shadow: none;
    /* optional */
    border-color: inherit;
    /* optional */
}

@keyframes breathe {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.animate-breathe {
    animation-name: breathe;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}