@import "tailwindcss";


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: white;
}

p {
    line-height: 110%;
}

input:focus,
input:focus-visible {
    outline: none;
    box-shadow: none;
    /* optional */
    border-color: inherit;
    /* optional */
}